
 
 <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

 <style type="text/css">
  .custom-card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
   padding: 5%;
 }

 .custom-card:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
 }
 </style>
 
 <div class="container">
 <div class="row">
  <div class="col-sm-6">
    <div class="card thumbnail custom-card" style="margin-left: 20%; margin-top: 5%; margin-bottom: 5%;">
      <div class="card-body">
        <h4><strong><em>Presença ao longo do ano</em></strong></h4>
        <p class="card-text">Acompanhe a assiduidade de seus alunos.</p>
        <a href="/reports/presence" class="btn btn-success" tyle="margin-top:1%">Gerar relatório</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card thumbnail custom-card" style=" margin-right: 20%; margin-top: 5%; margin-bottom: 5%;">
      <div class="card-body">
        <h4><strong><em>Humor das turmas </em></strong>  </h4>
        <p class="card-text">Permite a visualização do humor de suas turmas</p>
        <a href="/reports/feeling" class="btn btn-success" tyle="margin-top:1%">Gerar relatório</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card thumbnail custom-card" style="margin-left: 20%; margin-top: 5%; margin-bottom: 5%;">
      <div class="card-body">
        <h4 ><strong><em>Relatório 3</em></strong></h4>
        <p class="card-text">Nam sit amet tempor tellus.</p>
        <a href="/reports/confidence" class="btn btn-success" tyle="margin-top:1%">Gerar relatório</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card thumbnail custom-card" style="margin-right: 20%; margin-top: 5%; margin-bottom: 5%;">
      <div class="card-body">
        <h4><strong><em>Relatório 4</em></strong></h4>
        <p class="card-text">Nam sit amet tempor tellus.</p>
        <a href="/reports/feeling" class="btn btn-success" style="margin-top:1%">Gerar relatório</a>
      </div>
    </div>
  </div>
</div>
 
</div>




