<div class="content-wrapper">

  <app-main-component-title title="Criar novo Quizz"></app-main-component-title>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">

        <div class="box">
          <div class="box-header with-borders">Novo Quizz</div>
          <div class="box-body">

            <div class="row form-group">
              <div class="col-md-12 statement">
                <p>Enunciado</p>
                <textarea class="form-control" rows=3 placeholder="Digite o enunciado da questão" [(ngModel)]="statement"></textarea>
              </div>

              <div class="col-md-6">
                <p>Alternativa A</p>
                <textarea class="statement form-control" [(ngModel)]="alternatives[0]" placeholder="Digite o texto da alternativa A">
                    </textarea>
              </div>
              <div class="col-md-6">
                <p>Alternativa B</p>
                <textarea class="statement form-control" [(ngModel)]="alternatives[1]" placeholder="Digite o texto da alternativa B">
                    </textarea>
              </div>
              <div class="col-md-6">
                <p>Alternativa C</p>
                <textarea class="statement form-control" [(ngModel)]="alternatives[2]" placeholder="Digite o texto da alternativa C">
                    </textarea>
              </div>
              <div class="col-md-6">
                <p>Alternativa D</p>
                <textarea class="statement form-control" [(ngModel)]="alternatives[3]" placeholder="Digite o texto da alternativa D">
                    </textarea>
              </div>
              <div class="col-md-6">
                <p>Alternativa E</p>
                <textarea class="statement form-control" [(ngModel)]="alternatives[4]" placeholder="Digite o texto da alternativa E">
                    </textarea>
              </div>
              <div class="col-md-6">
                <p>Alternativa Correta:</p>

                <!-- radio button alternativa A-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="alternativaA" name="radioButtonInLine" value="0" [(ngModel)]="correct">
                  <label class="custom-control-label" for="alternativaA">A</label>
                </div>

                <!-- radio button alternativa B-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="alternativaB" name="radioButtonInLine" value="1" [(ngModel)]="correct">
                  <label class="custom-control-label" for="alternativaB">B</label>
                </div>
                
                <!-- radio button alternativa C-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="alternativaC" name="radioButtonInLine" value="2" [(ngModel)]="correct">
                  <label class="custom-control-label" for="alternativaC">C</label>
                </div>
                
                <!-- radio button alternativa D-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="alternativaD" name="radioButtonInLine" value="3" [(ngModel)]="correct">
                  <label class="custom-control-label" for="alternativaD">D</label>
                </div>

                <!-- radio button alternativa E-->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="alternativaE" name="radioButtonInLine" value="4" [(ngModel)]="correct">
                  <label class="custom-control-label" for="alternativaE">E</label>
                </div>


              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success pull-right" (click)="saveQuizz()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>