<div class="content-wrapper">

  <app-main-component-title title="Minhas Turmas"></app-main-component-title>

  <!-- Main content -->
  <section class="content">

    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-child"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Total de Alunos</span>
            <span class="info-box-number">375<small> Alunos</small></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-group"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Turmas</span>
            <span class="info-box-number">7 <small>Turmas</small></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Média de Presença</span>
            <span class="info-box-number">72<small>%</small></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-list-alt"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Quizzes</span>
            <span class="info-box-number">23 <small>Quizzes</small></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Turmas</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">

            <div class="box box-success direct-chat direct-chat-success">
              <div class="box-header with-border">
                <h3 class="box-title">1º Ano Ensino Médio</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">

                <div class="row">
                  <div class="col-md-12">
                      <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th style="width: 10px">#</th>
                              <th>Nome do Aluno</th>
                              <th>Presença</th>
                              <th style="width: 40px">Porcentagem</th>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td><a>Pedro Lucas de Lima</a></td>
                              <td>
                                <div class="progress progress-xs">
                                  <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                </div>
                              </td>
                              <td><span class="badge bg-red">55%</span></td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td><a>João Fenandes dos Anjos</a></td>
                              <td>
                                <div class="progress progress-xs">
                                  <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                </div>
                              </td>
                              <td><span class="badge bg-yellow">70%</span></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td><a>Maria Gabriela Santos</a></td>
                              <td>
                                <div class="progress progress-xs progress-striped active">
                                  <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                </div>
                              </td>
                              <td><span class="badge bg-light-blue">30%</span></td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td><a>Ana Pereira de Souza</a></td>
                              <td>
                                <div class="progress progress-xs progress-striped active">
                                  <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                </div>
                              </td>
                              <td><span class="badge bg-green">90%</span></td>
                            </tr>
                          </tbody>
                        </table>
                    <!-- /.box -->
                  </div>
                </div>

              </div>
              <!-- /.box-body -->

            </div>



            <div class="box box-success direct-chat direct-chat-success">
                <div class="box-header with-border">
                  <h3 class="box-title">2º Ano Ensino Médio</h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                  <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Nome do Aluno</th>
                                <th>Presença</th>
                                <th style="width: 40px">Porcentagem</th>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td><a>Pedro Lucas de Lima</a></td>
                                <td>
                                  <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-red">55%</span></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td><a>João Fenandes dos Anjos</a></td>
                                <td>
                                  <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-yellow">70%</span></td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td><a>Maria Gabriela Santos</a></td>
                                <td>
                                  <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-light-blue">30%</span></td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td><a>Ana Pereira de Souza</a></td>
                                <td>
                                  <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                                  </div>
                                </td>
                                <td><span class="badge bg-green">90%</span></td>
                              </tr>
                            </tbody>
                          </table>
                      <!-- /.box -->
                    </div>
                  </div>

                </div>
                <!-- /.box-body -->

              </div>

          </div>
        </div>

      </div>
      <div class="box-footer"></div>

    </div>

  </section>
</div>